
machinelearning/__pycache__/models.cpython-312.pyc
machinelearning/__pycache__/backend.cpython-39.pyc
machinelearning/__pycache__/models.cpython-39.pyc
machinelearning/data/lang_id.npz
machinelearning/data/mnist.npz
